/* Responsive */
@media screen and (max-width: 1864px) {
  .reviews_slide {
    width: 460px;
  }

  .first_img {
    width: 630px;
  }
}

@media screen and (max-width: 1815px) {
  .certificates_gallery_arrows-right {
    right: 30px;
  }

  .certificates_gallery_arrows-left {
    left: 30px;
  }
}

@media screen and (max-width: 1692px) {
  .work-stages_box {
    flex-wrap: wrap;
    width: 845px;
  }

  .work-stage {
    margin: 0 -44px 25px 0;
  }

  .work-stages_wrap {
    background-size: cover;
  }
}

@media screen and (max-width: 1669px) {
  .car_brand_wrap {
    margin: 0 auto 14px;
    width: 1365px;
  }

  .car_brand_imgs {
    width: 800px;
    height: 560px;
  }
}

@media screen and (max-width: 1659px) {
  .first_img {
    width: 520px;
  }
}

@media screen and (max-width: 1599px) {
  .reviews_slide {
    width: 550px;
  }

  .reviews_slide_text {
    background-color: #fff;
    opacity: 1;
  }

  .reviews_slide_text p {
    color: #333;
  }

  .reviews_slide_text::after {
    border-color: transparent transparent #ffffff transparent;
  }

  .reviews_slide_text img,
  .reviews_slide_name {
    opacity: 1;
  }

  .repair_nozzles_brand_content {
    width: 480px;
  }

  .repair_nozzles_brand_img {
    width: 300px;
  }

}

@media screen and (max-width: 1549px) {
  .prices_box {
    width: calc(100% - 450px);
  }
}

@media screen and (max-width: 1520px) {
  .first_title {
    font-size: 70px;
    width: 880px;
  }

  .first_subtitle {
    width: 880px;
  }

  .repair_nozzles_brand_search_result,
  .repair_nozzles_brand_more_details_box {
    width: 930px;
  }
}

@media screen and (max-width: 1485px) {
  .repair_nozzles_brand_content {
    width: 395px;
  }

  .template_nozzle_price_text {
    font-size: 25px;
  }

  .template_nozzle_price_number {
    font-size: 30px;
  }

  .template_nozzle_price_item {
    width: 420px;
  }
}

@media screen and (max-width: 1394px) {

  .container,
  .container-big {
    max-width: 1200px;
  }

  .repair_nozzles_brand_content {
    width: 330px;
  }

  .work_time {
    margin-right: 70px;
  }

  .address {
    margin-right: 40px;
  }

  .header_tel {
    margin-right: 55px;
  }

  .first_title {
    font-size: 60px;
    width: 755px;
    line-height: 1.3;
  }

  .first_subtitle {
    width: 755px;
  }

  .first_img {
    width: 450px;
  }

  .why_item p {
    width: 440px;
  }

  #why {
    padding: 71px 0 50px;
  }

  .work-stages_wrap {
    padding: 115px 0 70px;
  }

  .footer {
    width: 100%;
  }

  .our_clients_slider {
    .slick_next {
      right: 0;
    }

    .slick_prev {
      left: 0;
    }
  }

  .our_clients_slider {
    width: 100%;
    padding: 0 60px;
  }

  .our_days_wrap {
    margin: 160px auto 0;
    width: 845px;
  }

  .about_content_box,
  .services_content_box {
    width: 560px;
  }

  .car_brands {
    width: 680px;
    margin: 0 auto;
  }

  .repair_injectors_content_box {
    width: 700px;
  }

  .float_content_box {
    flex-direction: column;
    align-items: flex-start;
  }

  .float_content,
  .prices_box {
    width: 100%;
  }

  .prices_wrap {
    flex-direction: column;
  }

  .prices_sidebar {
    margin: auto;
  }

  .discounts_cards_box {
    width: 850px;
  }

  .recommendation_page_content {
    width: 720px;
  }

  .recommendation_page_img {
    height: 520px;
  }

  .car_brand_wrap {
    width: 100%;
  }

  .car_brand_imgs {
    width: 610px;
    height: 425px;
  }
}

@media screen and (max-width: 1375px) {

  .repair_nozzles_brand_search_result,
  .repair_nozzles_brand_more_details_box {
    width: 750px;
  }
}

@media screen and (max-width: 1316px) {
  .repair_nozzles_brand_wrap {
    flex-direction: column;
  }

  .repair_nozzles_brand_content {
    width: 70%;
  }

  p.no_margin1316 {
    margin: 0;
  }

  .repair_nozzles_brand_wrap2 {
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {

  .container,
  .container-big {
    max-width: 992px;
  }

  .container-big {
    max-width: 992px;
  }

  .up_btn {
    bottom: 17px;
    right: 17px;
  }

  .header_search input {
    width: 140px;
  }

  .work_time {
    margin-right: 40px;
  }

  .address {
    margin-right: 40px;
  }

  .header_tel {
    margin-right: 40px;
  }

  .social_network {
    width: 45px;
  }

  .menu {
    width: 685px;
  }

  .statistics,
  .about_text,
  .repair_nozzles_brand_content,
  .contacts_form form,
  .car_brand_list {
    width: 100%;
  }

  .fix_item {
    width: 425px;
  }

  .statistics_item p {
    font-size: 25px;
  }

  .why_item p {
    width: 345px;
  }

  .video_reviews_item {
    width: 460px;
  }

  .video_review {
    height: 265px;
  }

  #video_reviews {
    padding: 95px 0;
  }

  .consultation p,
  .discount p {
    width: 310px;
  }

  .certificates_title {
    line-height: 1.3;
  }

  .certificates_wrap a img {
    width: 220px;
    height: 315px;
  }

  .quotation {
    padding: 60px 0 0;
  }

  .first_title {
    font-size: 55px;
    width: 525px;
  }

  .first_subtitle {
    width: 405px;
    text-align: left;
  }

  .first_btn {
    margin: 55px 0 0;
  }

  .first_img {
    width: 524px;
  }

  #discount_and_consultation {
    padding: 97px 0 150px;
  }

  .about_img {
    height: 387px;
  }

  .about_content_box,
  .services_content_box {
    width: 450px;
  }

  .auto_facts_item {
    width: 460px;
  }

  .footer_wrap .work_time span,
  .footer_wrap .header_tel_icon {
    width: 35px;
    height: 35px;
  }

  .footer_wrap .work_time p,
  .footer_wrap .address p,
  .footer_wrap .header_tel_number,
  .footer_wrap .email_address {
    font-size: 18px;
  }

  .footer_wrap .address a {
    width: 22px;
    height: 35px;
  }

  .footer_wrap .email_icon {
    width: 44px;
    height: 35px;
  }

  .repair_injectors_content_box {
    width: 537px;
  }

  .contents_img {
    float: inherit;
  }

  .repair_injectors_content_box h4:before {
    width: 0;
  }

  .repair_nozzles_brand_more_details_sidebar_menu li a {
    padding: 17px 0 17px 30px;
    font-size: 25px;
  }

  .repair_nozzles_brand_search_result {
    width: 526px;
  }

  .repair_nozzles_brand_more_details_sidebar_menu {
    margin: 42px 0 0;
  }

  .discounts_cards_box {
    width: 560px;
  }

  .template_discounts {
    height: 417px;
  }

  .recommendation_page_content {
    width: 510px;
  }

  .recommendation_page_img {
    height: 366px;
  }

  .contacts_form textarea {
    width: 475px;
  }

  .contacts_form {
    padding: 50px 20px 75px;
  }

  .car_brand_wrap {
    flex-direction: column;
  }

  .car_brand_imgs {
    width: 100%;
    height: 675px;
  }

  .car_brand_list h5 {
    margin: 0;
    text-align: center;
  }

  .car_brand_list ul {
    align-items: center;
  }

  .repair_nozzles_brand_wrap2 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {

  .container,
  .container-big {
    max-width: 768px;
  }

  #header .work_time,
  #header .address,
  #header .social_networks {
    display: none;
  }

  .header_tel {
    margin-right: 0;
  }

  .header_search input {
    width: 220px;
  }

  .header {
    padding: 10px 0;
  }

  .menu {
    width: 382px;
    position: fixed;
    top: 0;
    right: 0;
    background: #e0dfdf;
    height: 100vh;
    transition: .5s;
    z-index: 1;
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
      overflow-y: scroll;
    }
  }

  .menu ul,
  .menu ul li {
    display: block;
  }

  .menu ul li a {
    display: block;
    line-height: 1.3;
    margin-top: 20px;
    text-align: left;
    padding: 0 0 0 25px;
  }

  .menu a:hover {
    color: #000;
    border-top: 5px solid transparent;
    transition: 0.5s;
  }

  #sandwich {
    margin: 0 0 18px;
    display: block;
  }

  .menu_close_btn {
    display: block;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $color;
    padding: 3px 0 0 25px;
  }

  .menu_close_btn div {
    position: relative;
    top: 20px;
    width: 50px;
    height: 5px;
    background-color: #3a3a3b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left: 0;
    display: block;
  }

  .menu_close_btn div::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 4px;
    top: -4px;
    right: -3px;
    background-color: #3a3a3b;
    transform: rotate(45deg);
  }

  .menu_close_btn div::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 4px;
    bottom: -4px;
    right: -3px;
    background-color: #3a3a3b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .menu_close_btn:hover {
    animation: menu_close_btn 1s linear infinite;
  }

  @keyframes .menu_close_btn {
    0% {
      left: 0;
    }

    50% {
      left: 10px;
    }

    100% {
      left: 0;
    }
  }

  .sw_top {
    position: relative;
    top: 0;
    width: 50px;
    height: 5px;
    background: #3a3a3b;
    border: none;
    transition: transform 0.5s, top 0.2s;
  }

  .sw_bottom {
    position: relative;
    width: 50px;
    height: 5px;
    top: 10px;
    background: #3a3a3b;
    border: none;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }

  .sw_footer {
    position: relative;
    width: 50px;
    height: 5px;
    top: 20px;
    background: #3a3a3b;
    border: none;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }

  .social_box_mob {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 50px 0 25px 25px;

    a {
      width: 47px;
      height: 47px;
      background-color: $color;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      &:nth-child(1) span {
        width: 27px;
        height: 16px;
        background-image: url(../img/social-icons/vk-hover.svg);
        background-size: cover;
        display: block;
        transition: 0.5s;
      }

      &:hover {
        background-color: #333;

        &:nth-child(1) span {
          background-image: url(../img/social-icons/vk.svg);
        }
      }

      &:nth-child(2) span {
        width: 21px;
        height: 21px;
        background-image: url(../img/social-icons/instagram-hover.svg);
        background-size: cover;
        display: block;
        transition: 0.5s;
      }

      &:hover {
        &:nth-child(2) span {
          background-image: url(../img/social-icons/instagram.svg);
        }
      }

      &:nth-child(3) span {
        width: 11px;
        height: 20px;
        background-image: url(../img/social-icons/facebook-hover.svg);
        background-size: cover;
        display: block;
        transition: 0.5s;
      }

      &:hover {
        &:nth-child(3) span {
          background-image: url(../img/social-icons/facebook.svg);
        }
      }
    }
  }

  .fix_item {
    width: 315px;
  }

  .statistics_item p {
    font-size: 22px;
  }

  .why_item p {
    width: 370px;
  }

  .why_item {
    margin: 0 auto 47px;
    width: 440px;
  }

  .quotation p {
    font-size: 40px;
  }

  .video_reviews {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .video_reviews_item {
    width: 536px;
    margin: 0 auto 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .video_review {
    height: 310px;
  }

  .certificates_wrap {
    flex-wrap: wrap;
  }

  .discount_and_consultation {
    flex-wrap: wrap-reverse
  }

  .discount_and_consultation:before {
    left: 41%;
    top: 40.7%;
    transform: rotate(-90deg);
  }

  .consultation {
    padding: 45px 20px 110px;
  }

  .discount {
    padding: 102px 20px 60px;
  }

  .footer_wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer_wrap .work_time,
  .footer_wrap .address,
  .footer_wrap .header_tel,
  .footer_wrap .email {
    width: 50%;
  }

  .footer_wrap .work_time,
  .footer_wrap .address {
    margin-bottom: 35px;
  }

  .work-stages_box {
    width: 578px;
  }

  .first_img {
    width: 430px;
  }

  .certificates_wrap a {
    margin: 0 8px 16px;
  }

  .about_content_box,
  .services_content_box {
    width: 330px;
  }

  .contents_img {
    float: inherit;
  }

  .our_days_wrap,
  .repair_injectors__text,
  .auto_facts_item,
  .repair_injectors_content_box,
  .repair_injectors_sidebar,
  .repair_nozzles_brand_search_result,
  .malfunction_box,
  .prices_sidebar,
  .recommendation_page_content,
  .contacts_footer_wrap,
  .car_brand_btn_wrap,
  .car_brand_text_wrap {
    width: 100%;
  }

  .our_days_item {
    width: 100%;
    height: 456px;
  }

  .auto_facts {
    flex-wrap: wrap;
  }

  .auto_facts_item {

    &:first-child {
      margin-bottom: 35px;
    }
  }

  .page_first_title_services {
    top: -150px;

    &:before {
      width: 0;
    }
  }

  .page_first_title:before {
    width: 0;
  }

  .repair_injectors_content {
    flex-direction: column;
  }

  .repair_nozzles_brand_search_result_box {
    flex-direction: column;
  }

  .repair_nozzles_brand_search_result_number {
    width: 170px;
  }

  .prices_table2 td {
    padding: 10px;
    font-size: 16px !important;
  }

  .prices_box {
    overflow-x: scroll;
  }

  .discounts_cards_box {
    width: 260px;
  }

  .template_discounts {
    height: 345px;
  }

  .recommendations_item div {
    width: 320px;
  }

  .recommendation_page {
    flex-direction: column;
  }

  .recommendation_page_img {
    height: 530px;
  }

  .recommendation_page_menu {
    width: 100%;
    margin: 15px 0 0;
  }

  .page_first {
    padding: 97px 0 135px;
  }

  .contacts_form textarea {
    width: 270px;
  }

  .contacts_wrap {
    flex-wrap: wrap;
  }

  .work_time_item {
    margin-top: 30px;
  }

  .car_brand_imgs {
    height: 520px;
  }

  .car_brand_btn_wrap a {
    width: 360px;
  }

  .certificates_gallery_arrows-left,
  .certificates_gallery_arrows-right {
    width: 35px;
    height: 35px;
  }

  .repair_nozzles_brand_img {
    width: auto;
  }

  .repair_nozzles_brand_wrap2 {
    flex-direction: column;
  }

  .template_nozzle_price_item {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {

  .container,
  .container-big {
    max-width: 576px;
  }

  .fix {
    flex-wrap: wrap;
  }

  .fix_item:nth-child(2) {
    margin-top: 50px;
  }

  .fix_item,
  .why_item,
  .consultation,
  .discount,
  .first_img,
  .repair_nozzles_brand_more_details_box,
  .repair_nozzles_brand_more_details_sidebar,
  .template_nozzle_price_item,
  .template_nozzle_price_box {
    width: 100%;
  }

  .statistics_item span {
    font-size: 65px;
  }

  .why_item p {
    width: auto;
  }

  #first {
    padding: 177px 0 230px;
  }

  .reviews_slide {
    width: 400px;
  }

  #first {
    padding: 177px 0 680px;
  }

  .work-stages_box {
    width: 310.436px;
  }

  .menu {
    width: 290px;
  }

  .about_content_wrap {
    flex-direction: column;
  }

  .about_content_box,
  .services_content_box,
  .repair_injectors,
  .repair_tnvd,
  .form_box,
  .car_brand_btn_wrap a {
    width: 100%;
  }

  .our_days_item {
    height: 337px;
  }

  .car_brands {
    width: 340px;
  }

  .repair {
    flex-direction: column;
  }

  .breadcrumbs {
    flex-wrap: wrap;

    a {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 10px;
    }
  }

  .repair_nozzles_brand_more_details {
    flex-direction: column;
  }

  .repair_nozzles_brand_more_details_sidebar_menu li a {
    padding: 15px 0;
    text-align: center;
  }

  .discounts_cards_form {
    width: 220px;
  }

  .discounts_cards_form h5 {
    text-align: center;
  }

  .template_discounts {
    height: 596px;
    background-position: 0 50px;
  }

  .recommendations_item {
    flex-direction: column;
  }

  .recommendations_item img {
    width: 100%;
    height: 338px;
  }

  .recommendations_item div h5 {
    margin: 20px 0 15px;
  }

  .recommendations_item div {
    width: 100%;
    height: 210px;
  }

  .recommendation_page_img {
    height: 390px;
  }

  #map {
    height: 350px;
  }

  .contacts_form .form_wrap {
    flex-direction: column;
  }

  .contacts_form textarea {
    width: 100%;
    margin: 25px 0 0;
  }

  .contacts_form input {
    margin: 0 0 20px;
  }

  .copyright {
    font-size: 14px;
  }

  .car_brand_imgs {
    height: 385px;
  }

  .car_brand_btn_wrap {
    margin: 70px auto 0;
    flex-direction: column;
    align-items: center;
  }

  .application_table tr:first-child td {
    font-size: 20px;
  }

  .application_table td {
    font-size: 15px;
  }
}

@media screen and (max-width: 659px) {
  #first {
    padding: 177px 0 610px;
  }

  .white-popup {
    padding: 30px;
    width: 400px;
    margin: 20px auto;
    padding: 55px 15px 30px;
  }

  .modal_title {
    font-size: 30px;
  }

  .modal_subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .modal_form label {
    font-size: 16px;
    margin: 20px 0 6px;
  }

  .modal_form input[type="submit"] {
    margin: 25px auto 0;
  }

  .white-popup .mfp-close {
    top: 6px;
    right: 6px !important;
  }
}

@media screen and (max-width: 589px) {
  #first {
    padding: 177px 0 560px;
  }
}

@media screen and (max-width: 575px) {

  .container,
  .container-big {
    max-width: 480px;
  }

  .first_title {
    font-size: 50px;
    width: 100%;
  }

  .first_subtitle {
    font-size: 35px;
  }

  h2 {
    font-size: 40px;
    line-height: 1.3;
  }

  .quotation p {
    font-size: 30px;
  }

  .quotation span {
    font-size: 25px;
    margin: 25px 0 0 0;
  }

  .video_review {
    height: 261px;
  }

  #slogan h3,
  .second_slogan_title {
    font-size: 60px;
  }

  #slogan p,
  .second_slogan_text {
    font-size: 35px;
    line-height: 1.2;
    margin: 30px auto 0;
    width: 90%;
  }

  #slogan a {
    margin: 40px auto 0;
  }

  #slogan {
    padding: 100px 0 200px;
  }

  .footer_wrap .work_time,
  .footer_wrap .address,
  .footer_wrap .header_tel,
  .footer_wrap .email,
  .repair_nozzles_brand_btn {
    width: 100%;
  }

  .footer_wrap .header_tel {
    margin-bottom: 35px;
  }

  .footer_bottom_bg {
    padding: 3px 120px 0 0;
  }

  #first {
    padding: 177px 0 530px;
  }

  .header_tel {
    margin-bottom: 0;
  }

  .header_search input {
    width: 200px;
  }

  .statistics_item span {
    font-size: 45px;
  }

  .auto_facts_progress_bar_title,
  .auto_facts_progress_bar_percent {
    font-size: 20px;
    line-height: 21px;
  }

  .about_img {
    height: 181px;
  }

  .about_content_box img {
    height: 194px;
  }

  .our_days_item {
    height: 278px;
    margin-bottom: 30px;
  }

  .breadcrumbs_box {
    flex-direction: column;
    align-items: flex-start;
  }

  .page_title {
    margin: 20px 0 0;
  }

  #breadcrumbs {
    padding: 108px 0 20px;
  }

  .our_days_item {
    height: 217px;
    margin-bottom: 25px;
  }

  .repair_injectors_content_box_video {
    width: 100%;
    height: 261px;
  }

  .repair_nozzles_brand_btn {
    background-position: 33% 50%;
  }

  .repair_nozzles_brand_more_details_box table td:first-child {
    padding-left: 15px;
  }

  .discounts_cards_wrap {
    flex-direction: column;
    align-items: center;
  }

  .discounts_cards_form {
    width: 285px;
    margin: 0 0 30px;
  }

  .recommendations_item img {
    height: 278px;
  }

  .recommendations_item div {
    height: 230px;
  }

  .recommendation_page_img {
    height: 320px;
  }

  .car_brand_imgs {
    height: 315px;
  }

  .template_discounts {
    height: 447px;
  }

  .application_table tr:first-child td {
    font-size: 18px;
  }

  .application_table td {
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 490px) {
  .white-popup {
    width: 300px;
  }
}

@media screen and (max-width: 479px) {

  .container,
  .container-big {
    max-width: 380px;
  }

  #header .header_tel {
    display: none;
  }

  .header_search,
  .video_reviews_item,
  .video_reviews_item p,
  .float_content_box img,
  .float_content2,
  .contents_img,
  .repair_nozzles_brand_img {
    width: 100%;
  }

  .header_search input {
    width: calc(100% - 36px);
  }

  .logo {
    margin-top: 15px;
  }

  #sandwich {
    margin: 0 0 12px;
  }

  .first_subtitle {
    width: 310px;
    line-height: 1.2;
  }

  .statistics {
    flex-wrap: wrap;
  }

  .statistics_item {
    width: 50%;
    margin: 30px 0 30px;
    padding: 0 30px;
  }

  .title_pattern {
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .reviews_slide {
    width: 90%;
  }

  .video_review {
    height: 203px;
  }

  .discount_and_consultation:before {
    left: 30%;
    top: 41.7%;
  }

  #slogan h3,
  .second_slogan_title {
    font-size: 50px;
  }

  #slogan p,
  .second_slogan_text {
    font-size: 30px;
  }

  .menu {
    width: 250px;
  }

  #first {
    padding: 177px 0 460px;
  }

  .repair_injectors_title {
    font-size: 40px;
  }

  .repair_injectors_content_box_video {
    height: 203px;
  }

  .pagination_number {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .pagination a {
    margin-right: 10px;
  }

  .pagination_arrow_prev,
  .pagination_arrow_next {
    width: 10px;
    height: 18px;
    background-size: cover;
  }

  .paginate-pagination .pagination_number {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .paginate-pagination .pagination a {
    margin-right: 10px;
  }

  .paginate-pagination .pagination_arrow_prev,
  .paginate-pagination .pagination_arrow_next {
    width: 10px;
    height: 18px;
    background-size: cover;
  }

  .repair_nozzles_brand_btn {
    background-position: 29% 50%;
  }

  .repair_nozzles_brand_more_details_box table td,
  .repair-tnvd tr:nth-child(2) td:nth-child(2) {
    padding: 10px;
  }

  .repair-tnvd td {
    font-size: 14px !important;
  }

  .repair_nozzles_brand_more_details_box table td:first-child {
    padding-left: 10px;
  }

  .recommendations_item img {
    height: 215px;
  }

  .recommendations_item div {
    height: 255px;
  }

  .recommendation_page_img {
    height: 245px;
    margin: 25px 0 0;
  }

  .recommendation_page_text {
    margin-top: 20px;
  }

  .recommendation_page_text p {
    margin-bottom: 20px;
  }

  .contacts_footer_wrap {
    flex-direction: column;
  }

  #contacts_footer {
    background-image: url(../img/bg/bg-contacts-footer-479.jpg);
    padding: 123px 0 19px;
  }

  .contacts_wrap {
    flex-direction: column;
  }

  .work_time_item2 {
    margin-top: 30px;
  }

  .contacts_wrap .header_tel .header_tel_number span {
    margin-left: 5px;
  }

  .car_brand_imgs {
    height: 245px;
  }

  .car_brand_list ul {
    flex-direction: row;
    margin: 30px 0 0;
    height: auto;

    li {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .template_discounts {
    height: 372px;
  }

  .application_wrap {
    overflow-x: scroll;
  }

  .template_nozzle_price_form {
    width: 100%;
    padding: 17px 20px;
  }

  .template_nozzle_price_text,
  .template_nozzle_price_number {
    font-size: 20px;
  }

  .template_nozzle_price_item {
    margin: 35px 0;
  }
}

@media screen and (max-width: 419px) {
  #first {
    padding: 177px 0 407px;
  }
}

@media screen and (max-width: 379px) {

  .container,
  .container-big {
    max-width: 320px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .statistics_item {
    width: 100%;
    margin: 40px 0 40px;
  }

  .statistics_item span {
    margin: 15px 0 0;
  }

  .statistics_item p {
    margin: 10px 0 0;
  }

  .why_item {
    flex-direction: column;
  }

  .first_title {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  .consultation p,
  .discount p {
    width: 250px;
  }

  .consultation h5,
  .discount h5 {
    font-size: 30px;
    line-height: 1.3;
  }

  .consultation a,
  .discount a {
    width: 240px;
  }

  .footer_bottom_bg {
    padding: 10px 55px;

    a {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
  }

  .slick_prev,
  .slick_next {
    width: 40px;
    height: 40px;
    background-size: cover;
  }

  .our_clients_slide {
    width: 150px;
  }

  .video_reviews_item h5 {
    font-size: 25px;
  }

  .video_review {
    height: 168px;
  }

  .discount_and_consultation:before {
    top: 35%;
    left: 25%;
  }

  .reviews_wrap:before {
    height: 46px;
  }

  .auto_facts_title:before,
  .auto_facts_title:after {
    width: 120px;
  }

  .auto_facts_progress_bar_title,
  .auto_facts_progress_bar_percent {
    font-size: 16px;
    line-height: 15px;
  }

  .our_days_item {
    height: 185px;
    margin-bottom: 15px;
  }

  .car_brands {
    width: 100%;
  }

  .repair_injectors_title,
  .repair_tnvd_title {
    font-size: 35px;
  }

  .malfunction p {
    width: 265px;
  }

  .repair_injectors_content_box_video {
    height: 174px;
  }

  .repair_injectors_content_box {
    img {
      margin: 20px 0 0 0 !important;
    }
  }

  .services_content_box {
    img {
      margin: 20px 0 0 0 !important;
    }
  }

  .breadcrumbs a,
  .breadcrumbs p {
    font-size: 16px;
  }

  .repair_nozzles_brand_more_details_box table td:first-child,
  .repair_nozzles_brand_more_details_box table td:last-child {
    font-size: 16px;
    line-height: 1.3;
  }

  .repair_nozzles_brand_btn {
    background-position: 25% 50%;
  }

  .repair-tnvd td {
    font-size: 12px !important;
  }

  .recommendations_item img {
    height: 190px;
  }

  .recommendations_item div {
    height: 280px;
  }

  .recommendations_item div h5 {
    font-size: 25px;
  }

  .recommendation_page_img {
    height: 220px;
  }

  .contacts_wrap .header_tel .header_tel_number span {
    font-size: 11px;
  }

  .car_brand_imgs {
    height: 211px;
  }

  #menu:before {
    display: none;
  }

  #header {
    height: 48px;
  }

  #menu {
    height: 48px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  .sw_top {
    width: 27px;
    height: 3px;
  }

  .sw_bottom {
    width: 27px;
    height: 3px;
    top: 6px;
  }

  .sw_footer {
    width: 27px;
    height: 3px;
    top: 12px;
  }

  #sandwich {
    margin: 0;
  }

  .menu_wrap {
    padding-top: 0;
  }

  .first_title {
    font-size: 32px;
    text-align: center;
    line-height: 48px;
  }

  .logo img {
    width: 66px;
  }

  #first {
    padding: 90px 0 293px;
  }

  .first_subtitle {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-top: 21px;
  }

  .first_btn {
    width: 302px;
    height: 44px;
    margin: 47px auto 0;
  }

  .first_img {
    width: 280px;
  }

  .fix_item_title {
    font-size: 22px;
    text-align: center;
  }

  .fix_item_text {
    margin-top: 13px;
  }

  .fix_item {
    width: 302px;
    margin: auto;
  }

  #fix:before,
  .fix_item_text:before {
    display: none;
  }

  .first_img {
    bottom: 29px;
  }

  #fix {
    padding: 31px 0 21px;
  }

  .fix_item_more {
    margin-top: 20px;
  }

  .statistics_item {
    padding: 0;
    width: 50%;
    margin: 0 0 30px;
  }

  .statistics_item div {
    border-width: 14px 8px 0 8px;
  }

  .statistics_item p {
    font-size: 16px;
  }

  .statistics_item span {
    font-size: 43px;
  }

  #statistics {
    padding: 20px 0 18px;
  }

  h2 {
    font-size: 22px;
    line-height: 33px;
  }

  #why {
    padding: 22px 0 0;
  }

  .why_item img {
    margin: auto;
  }

  .why_item h4 {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
  }

  .why_item p {
    width: 302px;
    margin: 10px auto 0;
  }

  .why {
    margin: 48px 0 0;
  }

  .quotation div {
    width: 304px;
  }

  .quotation p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  .quotation {
    padding: 21px 0 0;
  }

  .quotation span {
    font-size: 12px;
    line-height: 22px;
    margin: 0;
  }

  .quotation:after {
    bottom: -15px;
    transform: rotate(-1.5deg);
  }

  #quotation {
    padding: 25px 0 40px;
  }

  .title_pattern {
    width: 141px;
    height: 9px;
    margin: 0 auto 7px;
  }

  #work-stages {
    padding: 13px 0 0;
  }

  .work-stages_wrap {
    margin: 5px 0 0;
    padding: 32px 0 19px;
  }

  .work-stages_wrap:before {
    top: -7px;
    height: 11px;
  }

  .work-stage {
    width: 224px;
    height: 122px;
    margin: 0 auto 24px;
    background-size: cover;
    padding: 14px 47px;
  }

  .work-stage span {
    font-size: 42px;
  }

  .work-stage_item img {
    height: 42px;
  }

  .work-stage p {
    font-size: 16px;
    line-height: 24px;
  }

  #our_clients {
    padding: 25px 0 50px;
  }

  .our_clients_slide {
    width: 120px;
  }

  .our_clients_slider {
    margin: 23px auto 0;
    padding: 0;
  }

  .reviews_slider .slick_prev,
  .reviews_slider .slick_next {
    display: none !important;
  }

  .reviews_wrap {
    padding: 37px 0 0;
  }

  .reviews_slider {
    margin: 0;
    padding: 0 0 20px;
  }

  .reviews_slide_text p {
    font-size: 14px;
    line-height: 21px;
  }

  .reviews_slide_name {
    font-size: 20px;
  }

  .reviews_slide_position {
    font-size: 16px;
  }

  .reviews_slider .controls {
    margin: 15px 0 0;
  }

  #video_reviews {
    padding: 48px 0;
  }

  .video_reviews_item h5 {
    font-size: 22px;
  }

  .video_reviews_item p {
    font-size: 16px;
    line-height: 24px;
    margin: 3px 0 0;
    width: 260px;
  }

  .video_review {
    margin: 21px 0 0;
  }

  #certificates {
    padding: 16px 0 0;
  }

  .certificates_title {
    padding: 0 0 15px;
  }

  .certificates_wrap:before {
    height: 21px;
  }

  .certificates_wrap a {
    display: none;

    &:nth-child(2) {
      display: block;
      width: 148px;
      height: 210px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .certificates_wrap {
    padding: 34px 0 0;
  }

  #discount_and_consultation {
    padding: 28px 0 30px;
  }

  .discount_and_consultation {
    margin: 55px 0 0;
  }

  .consultation h5,
  .discount h5 {
    font-size: 22px;
    line-height: 30px;
  }

  .consultation p,
  .discount p {
    font-size: 16px;
    line-height: 24px;
    margin: 0px auto 20px;
  }

  .consultation a,
  .discount a {
    width: 147px;
    height: 34px;
    font-size: 16px;
    border-width: 1px;
  }

  .consultation {
    padding: 15px 20px 110px;
  }

  .discount {
    padding: 102px 20px 34px;
  }

  #slogan h3,
  .second_slogan_title {
    font-size: 32px;
  }

  #slogan {
    padding: 32px 0 91px;
  }

  #slogan p,
  .second_slogan_text {
    font-size: 18px;
    margin: 20px auto 0;
  }

  #slogan a {
    margin: 27px auto 0;
    width: 146px;
    height: 34px;
    font-weight: 300;
    background: #fc0;
  }

  #slogan:before,
  .footer_bottom_bg:before,
  .page_first:after,
  .page_title,
  #second_slogan:before,
  .page_first2:after,
  #second_slogan_empty:before {
    display: none;
  }

  #slogan:after,
  #second_slogan_empty:after {
    height: 48px;
  }

  .footer_wrap .work_time span {
    margin-right: 43px;
  }

  .footer_wrap .address a {
    margin-right: 50px;
    margin-left: 6px;
  }

  .footer_wrap .header_tel_icon {
    margin-right: 43px;
  }

  .footer_wrap .email_icon {
    margin-right: 34px;
  }

  .footer hr {
    margin: 48px 0 0;
  }

  .footer_social_links a {
    width: 36px;
    height: 36px;
    margin: 0;
  }

  .footer_social_links {
    width: 192px;
    justify-content: space-between;
    margin: 23px auto 0;
  }

  .copyright {
    font-size: 16px;
    margin: 46px 0 0;
  }

  .up_btn {
    width: 26px;
    height: 26px;
    background-size: cover;
  }

  .header {
    padding: 6px 0;
  }

  .page_first:before,
  .page_first2:before {
    height: 10px;
  }

  #breadcrumbs {
    padding: 0 0 35px;
    margin: 48px 0 0;
  }

  .breadcrumbs {
    margin: 7px 0 0;

    p,
    a {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .page_first {
    padding: 35px 0 150px;
  }

  .about_text {
    margin: 22px auto 0;
  }

  .repair_injectors,
  .repair_tnvd {
    height: 64px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
  }

  .repair_injectors {
    margin: 0 0 48px;
  }

  .repair_injectors_icon,
  .repair_tnvd_icon {
    width: 44px;
    height: 44px;
    background-size: cover;
    margin: 0 20px 0 15px;
  }

  .repair_injectors_title,
  .repair_tnvd_title {
    font-size: 20px;
  }

  .about_content h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
  }

  .services_content_box img {
    margin: 4px 0 0 0 !important;
  }

  .services_content_box ul.mob_for_375 {
    margin: 22px 0 0;
  }

  .mob_for_375 {
    margin: 22px 0 0;
  }

  .about_content {
    margin: 33px 0 0;
  }

  .page_first_title_services {
    top: -105px;
  }

  .car_brands_link,
  .car_brands_link_logo,
  .car_brands_link_logo-hover {
    width: 80px;
    height: 80px;
  }

  .car_brands_link {
    margin: 0 11px 44px;
  }

  #car_brands {
    padding: 0 0 37px;
  }

  #car_brands:before {
    top: -5px;
    height: 10px;
  }

  .car_brands {
    margin: -40px auto 0;
    background-image: url(../img/bg/bg-pattern-for-auto-logos-375.jpg);
  }

  #second_slogan {
    padding: 35px 0 87px;
  }

  #second_slogan:after {
    height: 48px;
  }

  .page_first2 {
    padding: 24px 0 0;
  }

  .template_nozzle_price_wrap {
    margin: 23px 0 0;
  }

  .template_nozzle_price_wrap .repair_nozzles_brand_img {
    width: 146px;
    margin: 7px auto;
  }

  .application_table tr:first-child td {
    font-size: 11px;
  }

  .application_table td {
    font-size: 14px;
    line-height: 19px;
    padding: 5px;
  }

  .application_title {
    font-size: 22px;
    text-transform: none;
  }

  .template_nozzle_price_box_desc,
  .template_nozzle_price_form_desc {
    display: none;
  }

  .template_nozzle_price_box_mob,
  .template_nozzle_price_form_mob {
    display: block;
  }

  .template_nozzle_price_form_mob {
    margin: 47px 0 0;
  }

  .template_nozzle_price_item {
    flex-direction: column;
    margin: 0;
  }

  .template_nozzle_price_text {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .template_nozzle_price_text,
  .template_nozzle_price_number {
    font-size: 22px;
    line-height: 33px;
  }

  .template_nozzle_price_number {
    margin: 5px 0;
  }

  .template_nozzle_price_box_mob {
    background-color: #f5f5f5;
    padding: 18px 0 25px;
  }

  .characteristics_title {
    font-size: 22px;
    line-height: 33px;
  }

  #characteristics {
    padding: 47px 0 45px;
  }

  .catalog_number {
    font-weight: 400;
    margin-top: 22px;
  }

  .original_numbers_title {
    margin-top: 28px;
  }

  .application_wrap {
    background-color: #fff;
    padding: 0;
  }

  .application_table {
    width: 100%;
    margin: 23px auto 0;
  }

  #application {
    padding: 0;
  }

  #second_slogan_empty {
    padding: 96px 0 0;
  }
}

/* Responsive end */