/* Адаптация */
@media screen and (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 380px;
  }
}

@media screen and (max-width: 379px) {
  .container {
    max-width: 320px;
  }
  .menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #e0dfdf;
  }
  .menu ul{
    display: block;
  }
  .menu ul li{
    display:block;
  }
  .menu ul li a{ 
    display:block;
    line-height: 40px;
    text-align: left;
  }
  #sandwich{
    top: 10px;
    right: 10px;
    display: block;
  }
  #sandwich.active .sw_top {
    top: 15px;
    transform: rotate(140deg);
  }
  #sandwich.active .sw_bottom {
    top: 10px;
    transform: rotate(-140deg);
  }
  #sandwich.active .sw_footer {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
  }
  .sw_top {
    position: relative;
    top: 0;
    width: 50px;
    height: 5px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
  }
  .sw_bottom {
    position: relative;
    width:50px;
    height: 5px;
    top: 10px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .sw_footer {
    position: relative;
    width: 50px;
    height: 5px;
    top: 20px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
}